<!DOCTYPE html>
<html>

<head>
  <title>Instagram Hashtag Generator</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="index.js"></script>
</head>

<body>
  <div>
    <h1>Instagram Hashtag Generator</h1><br>
    <textarea id="caption" name="caption" placeholder="Please enter your caption with full-stop 
    and then type keywords with one space.
    e.g. This is bliss. India Himalaya Uttarakhand ">
    </textarea><br>
    <button type="button" value="generate" id="generate">Generate</button><br>
    <label name="generated-caption" id="generated-caption" hidden="true"></label>
  </div>
</body>

</html>