body{
  background-color: lightskyblue;

}
label{
  background-color: white;
  color: lightslategrey;
}
text-area {
  width: 500px;
  height: 60px;
  border: solid;
  
}
button{
  border: solid;
  width: 100px;
  height:50px;
  border-radius: 10px;
  text-align: center
}
