<!DOCTYPE html>
<html>

<head>
  <title>Instagram Hashtag Generator</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="index.js"></script>
</head>

<body>
  <div>
    <label for="caption" id="caption-label"></label><br>
    <textarea id="caption" name="caption"></textarea><br>
    <button type="button" value="Generate" 
    onclick="captionkeywordsgenerator(document.getElementById('caption').value)">Generate</button><br>
    <label name="generatedCaption" value="generatedCaption" id="generatedCaption"></label>
  </div>
</body>

</html>