<!DOCTYPE html>
<html>

<head>
  <title>Instagram Hashtag Generator</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="index.js"></script>
</head>

<body>
  <div>
    <h1>Instagram Hashtag Generator</h1><br>
    <textarea id="caption" name="caption" placeholder="Please enter your caption with full-stop and then type keywords with one space.
e.g. This is bliss. India Himalaya Uttarakhand " ></textarea><br>
    
    <button type="button" value="Generate" 
    onclick="captionkeywordsgenerator(document.getElementById('caption').value)">Generate</button><br>
    
    <label name="generatedCaption" id="generatedCaption" hidden="true" ></label>
  </div>
</body>

</html>